<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <div class="container mx-auto h-screen">
        <section class="h-full bg-[#EFE7DD]">
            <nav class="fixed p-6 top-0 left-0 w-full shadow-md bg-[#FFFFFF99] z-10 text-end h-[80px]">
                <div class="container mb-2 mx-auto flex justify-end items-center">
                    <a href="" class="logo mr-auto">
                        <img src="../../static/images/logo.png" class="w-[90px] h-[90px] absolute top-0" alt="Logo" />
                    </a>
                    <div class=" w-full md:block md:w-auto" id="navbar-default">
                        <ul class="font-medium flex flex-col md:flex-row md:space-x-8 rtl:space-x-reverse ">
                            <li>
                                <div class="flex relative justify-between px-4">
                                    <input type="text" placeholder="Search..." class="placeholder-[#764B36] p-2 g-[#FFFFFF] border border-[#00000099] rounded w-[90px] ">
                                    <img src="../../static/images/search1.png" alt="" class="absolute right-5 top-2 w-[22px] h-[22px] mb-3 ">
                                </div>
                            </li>
                            <li>
                                <a href="register.html">
                                <button class="bg-[#C4BFBC] p-2 px-4 rounded text-[#764B36]">REGISTER</button></a>
                            </li>
                            <li>
                                <div class="flex justify-center items-center relative">
                                    <button class="bg-[#C4BFBC] rounded p-2 text-[#764B36] w-[110px] flex items-center justify-center">
                                        CART
                                        <img src="../../static/images/cart.png" alt="Cart Icon" class="ml-2 w-[22px] h-[22px]">
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="flex justify-between items-center pt-[90px] px-2">
                <div class="flex relative justify-between">
                    <p class="text-[#764B36]">OFFICE</p>
                    <img src="../../static/images/image.png" alt="" class=" w-[15px] h-[10px] ml-2 mt-2 top-0">
                </div>
                <div class="flex relative justify-between">
                    <p class="text-[#764B36]">KITCHEN</p>
                    <img src="../../static/images/image.png" alt="" class="w-[15px] h-[10px] ml-2 mt-2 top-0">
                </div>
                <div class="flex relative justify-between">
                    <p class="text-[#764B36]">BEDROOM</p>
                    <img src="../../static/images/image.png" alt="" class="w-[15px] h-[10px] ml-2 mt-2 top-0">
                </div>
                <div class="flex relative justify-between">
                    <p class="text-[#764B36]">LIVING ROOM</p>
                    <img src="../../static/images/image.png" alt="" class="w-[15px] h-[10px] ml-2 mt-2 top-0">
                </div>
                <div class="flex relative justify-between">
                    <p class="text-[#764B36]">DINING</p>
                    <img src="../../static/images/image.png" alt="" class="w-[15px] h-[10px] ml-2 mt-2 top-0">
                </div>
                <div class="flex relative justify-between">
                    <p class="text-[#764B36]">MATTRESSES</p>
                    <img src="../../static/images/image.png" alt="" class="w-[15px] h-[10px] ml-2 mt-2 top-0">
                </div>

            </div>

        </section>

        <footer>

        </footer>

    </div>
    
</body>
</html>