<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <div class="container mx-auto h-screen w-full flex-row justify-center bg-[#F5F1EB] p-4">
        <h1 class="text-[50px] p-6">Create An Account</h1>
        <form action="" class="w-[60%] p-4" >
            <label for="">Name</label><br>
            <input type="text" placeholder="johndoe@email.com" class="border w-full h-[50px] p-4 placeholder-[#764B36] border-gray-300 rounded text-[#764B36]"><br><br>
            <label for="">Email</label><br>
            <input type="email" placeholder="johndoe@email.com" class="border w-full h-[50px] p-4 placeholder-[#764B36] border-gray-300 rounded text-[#764B36]"><br><br>
            <label for="">Password</label><br>
            <input type="password" placeholder="eg. inquiry" class="border w-full h-[50px] p-4 placeholder-[#764B36] border-gray-300 rounded text-[#181818]"><br><br>
            <input type="submit" value="Sign In" class="bg-[#764B36] text-[#E8D8D0] text-[22px] border mt-6 mb-8 p-4 border-gray-300 text-center cursor-pointer rounded-lg w-full">


        </form>
    </div>
    
</body>
</html>